@model Lanche

<div class="col-sm-4 col-md-4 col-lg-4">
    <h3>@Model.Nome</h3>
    <p><img src="@Model.ImagemUrl" class="img-fluid"></p>
    <h5>@Model.DescricaoCurta</h5>
    <h4>@Model.Preco.ToString("c")</h4>
</div>