@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Santos Lanches</h1>
    <p>Seja bem vindo ao meu site!</p>
</div>

<div>
    <partial name="_Carousel"/>
</div>